<div class="sidebar-container">
  <h2 class="sidebar__title">Pipilines</h2>
  <section class="sidebar__folder-creator">
    <input [(ngModel)]="pipelineName" class="folder-creator__name-input" placeholder="Pipeline name" />
    <button type="button" class="folder-creator__add-button btn btn-secondary btn-block"
      (click)=addPipeline()>Add</button>
  </section>
  <section class="sidebar__jsons-container">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding (click)='pipelineClick(node)' [ngClass]="{'pipeline_button': node == selectedNode}">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
        <button mat-icon-button (click)="remove(node)"><mat-icon>remove</mat-icon></button>
      </mat-tree-node>
    </mat-tree>

  </section>
  <section class="sidebar__controls-container">
    <label class="sidebar__file-upload-button">
      <input class="sidebar__file-upload-input" type="file" accept='text/plain' multiple (change)='openFile($event)' />
      <i class="file-upload-button_content fa fa-cloud-upload"></i> JSON Upload
    </label>
    <button type="button" class="sidebar__file-post-button btn btn-success" (click)="postData()">POST JSON</button>
    <a #downloadLink class="sidebar__download-link" (click)='creatJSONToDownload()' [href]="fileUrl" download="file.txt">DownloadFile</a>
  </section>
</div>