<section [formGroup]="myForm" class="tab-container">
  <span class="tab__label">{{tabName}}</span>

  <section *ngIf="condition" class="response-section">
    <span class="response-section__name">Assert code:</span>
    <select #inputKey class="response-section__input browser-default custom-select" name="inputKey"
    formControlName="responseKey" autocomplete="off">
        <option *ngFor="let code of assertCodes" [value]="code">
          {{code}}
        </option>
      </select>
  </section>

  <section *ngIf="keyValue" class="tab__table-section">
      <table cellpadding="4" cellspacing="1" class="tab__table" formArrayName="formRequest">
          <tr>
            <th class="tab__table-cell">KEY</th>
            <th class="tab__table-cell">VALUE</th>
          </tr>
          <tr *ngFor="let item of formRequestArray.controls; let i=index" [formGroupName]="i">
            <td class="tab__table-cell"><input class="tab__input-key tab__input" name="inputKey" formControlName="requestKey"
                autocomplete="off"/></td>
            <td #value class="tab__table-cell"><input #key class="tab__input-value tab__input" name="inputValue"
                formControlName="requestValue" autocomplete="off"/></td>
          </tr>
        </table>
  </section>

  <div *ngIf="keyValue" class="tab__table-control">
    <button type="button" class="table-control__button btn btn-outline-success" (click)="addRequestParam()">Add</button>
    <button type="button" class="table-control__button btn btn-outline-danger"
      (click)="removeRequestParam()">Remove</button>
  </div>

  <section *ngIf="!keyValue" class="tab__textcontainer">
    <textarea #bodyData class="tab__textcontainer-textarea" value="test"></textarea>
  </section>
</section>
