.myForm__input-section{
  display: flex;
  width: 100%;
  margin: 20px 20px 5px;
}

.myForm__input-container{
  display: flex;
  width: 90%;
}

.myForm-container__drop-down-menu{
  width: 120px;
  border-radius: 0;
}

.myForm__input{
  width: 50%;
}

.myForm__json-name{
  width: 50%;
}

.myForm__save-button{
  margin: 0 20px;
}
