@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.myForm__input-section{
  display: flex;
  width: 80%;
  margin: 20px 20px 5px;
}

.myForm__input-container{
  display: flex;
  width: 70%;
}

.myForm-container__drop-down-menu{
  width: 120px;
  border-radius: 0;
}

.myForm__input{
  width: 75%;
}

.myForm__json-name{
  width: 25%;
}

.myForm__save-button{
  margin: 0 20px;
}
