<span>Request name</span>
<form [formGroup]="myForm" class="input-form">
  <section class="myForm__input-section">
    <div class="myForm__input-container">
      <select #type class="myForm-container__drop-down-menu browser-default custom-select" name="requestName"
      formControlName="requestName">
        <option *ngFor="let type of types" [value]="type">
          {{type}}
        </option>
      </select>
      <input #url class="myForm__input" name="request" placeholder="Request URL" formControlName="requestUrl" />
      <input #name class="myForm__json-name" name="jsonName" placeholder="Name" formControlName="requestJsonName" />
    </div>
    <button type="button" class="myForm__save-button btn btn-outline-primary" (click)="saveJSON('true')">Save</button>
  </section>
  <app-main-form-tabs></app-main-form-tabs>
</form>

